[package]
name = "image-rs"
version = "0.1.0"
description = "The OCI Images Rust Crate"
repository = "https://github.com/confidential-containers/image-rs"
readme = "README.md"
license = "Apache-2.0"
authors = ["The image-rs Authors"]
edition = "2018"

[dependencies]
anyhow = ">=1.0"
flate2 = "1.0"
futures-util = "0.3"
libc = "0.2"
nix = "0.23.0"
oci-distribution = { git = "https://github.com/arronwy/oci-distribution", branch = "export_pull_layer" }
oci-spec = { git = "https://github.com/containers/oci-spec-rs" }
ocicrypt-rs = { git = "https://github.com/arronwy/ocicrypt-rs", branch = "oci_distribution" }
safe-path = "0.1"
serde = { version = ">=1.0.27", features = ["serde_derive", "rc"] }
serde_json = ">=1.0.9"
sha2 = ">=0.10"
tar = "0.4.37"
tokio = {version = "1.0", features = ["macros", "fs"]}
zstd = "0.9"

[dev-dependencies]
filetime = "0.2"
tempfile = "3.2"
