[workspace]
resolver = "2"
members = [
    "api-server-rest",
    "attestation-agent/attestation-agent",
    "attestation-agent/kbc",
    "attestation-agent/kbs_protocol",
    "attestation-agent/attester",
    "attestation-agent/deps/resource_uri",
    "attestation-agent/deps/crypto",
    "attestation-agent/deps/sev",
    "attestation-agent/coco_keyprovider",
    "confidential-data-hub/hub",
    "confidential-data-hub/kms",
    "confidential-data-hub/image",
    "confidential-data-hub/secret",
    "confidential-data-hub/storage",
    "image-rs",
    "ocicrypt-rs",
]

[workspace.dependencies]
aes = "0.8.3"
aes-gcm = "0.10.2"
anyhow = "1.0"
assert-json-diff = "2.0"
async-trait = "0.1.78"
base64 = "0.21.7"
base64-serde = "0.7"
bincode = "1.3.3"
cfg-if = "1.0.0"
chrono = "0.4.26"
clap = "~4.2.7"
config = "0.13.4"
const_format = "0.2.30"
ctr = "0.9.2"
env_logger = "0.11.3"
hex = "0.4.3"
hmac = "0.12.1"
jwt-simple = { version = "0.12", default-features = false, features = ["pure-rust"] }
kbs-types = "0.6.0"
lazy_static = "1.4.0"
log = "0.4.14"
openssl = "0.10"
prost = "0.11"
protobuf = "3.5.0"
rand = "0.8.5"
reqwest = { version = "0.12", default-features = false }
resource_uri = { path = "attestation-agent/deps/resource_uri" }
ring = "0.17"
rsa = "0.9.2"
rstest = "0.17"
serde = { version = "1.0", features = ["derive"] }
serde_with = { version = "1.11.0", features = ["base64"] }
serde_json = "1.0"
serial_test = "2"
sha2 = "0.10.7"
strum = { version = "0.25", features = ["derive"] }
tempfile = "3.2"
testcontainers = "0.14"
thiserror = "1.0"
tokio = "1.0"
toml = "0.8.14"
tonic = "0.9"
tonic-build = "0.9"
ttrpc = "0.8.0"
ttrpc-codegen = "0.4.2"
url = "2.5.2"
uuid = "1"
zeroize = "1.5.7"
