[package]
name = "image-rs"
version = "0.1.0"
description = "The OCI Images Rust Crate"
repository = "https://github.com/confidential-containers/image-rs"
readme = "README.md"
license = "Apache-2.0"
authors = ["The image-rs Authors"]
edition = "2018"

[dependencies]
anyhow = ">=1.0"
flate2 = "1.0"
futures-util = "0.3"
libc = "0.2"
nix = "0.23.0"
oci-distribution = "0.9.3"
oci-spec = { git = "https://github.com/containers/oci-spec-rs" }
ocicrypt-rs = { git = "https://github.com/confidential-containers/ocicrypt-rs", tag = "v0.2.0", optional = true }

serde = { version = ">=1.0.27", features = ["serde_derive", "rc"] }
serde_json = ">=1.0.9"
sha2 = ">=0.10"
tar = "0.4.37"
tokio = {version = "1.0", features = ["full"]}
zstd = "0.9"
fs_extra = "1.2.0"
walkdir = "2"
dircpy = "0.3.12"
signature = { path = "./signature", optional = true }
prost = "0.8"
strum = { version = "0.23.0", features = ["derive"] }
log = "0.4.14"

[dev-dependencies]
filetime = "0.2"
tempfile = "3.2"
strum = "0.24"
strum_macros = "0.24"
serial_test = "0.9.0"
rstest = "0.15.0"
test-utils = { path = "libs/test-utils" }

[workspace]
members = ["signature", "libs/test-utils"]
exclude = ["scripts/attestation_agent/app"]

[features]
default = ["overlay_feature", "ocicrypt-rs", "signature"]
overlay_feature = []
occlum_feature = ["ocicrypt-rs/eaa_kbc", "signature/eaa_kbc"]
