[package]
name = "attester"
version = "0.1.0"
authors = ["The Attestation Agent Authors"]
publish = false
edition = "2021"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
az-snp-vtpm = { version = "0.5.1", default-features = false, features = [
    "attester",
], optional = true }
az-tdx-vtpm = { version = "0.5.1", default-features = false, features = [
    "attester",
], optional = true }
base64.workspace = true
kbs-types.workspace = true
log.workspace = true
nix = { version = "0.26.2", optional = true }
occlum_dcap = { git = "https://github.com/occlum/occlum", tag = "v0.29.7", optional = true }
serde.workspace = true
serde_json.workspace = true
sev = { version = "1.2.0", default-features = false, features = [
    "snp",
], optional = true }
strum.workspace = true
tdx-attest-rs = { git = "https://github.com/intel/SGXDataCenterAttestationPrimitives", tag = "DCAP_1.16", optional = true }
# TODO: change it to "0.1", once released.
csv-rs = { git = "https://github.com/openanolis/csv-rs", rev = "b74aa8c", optional = true }
codicon = { version = "3.0", optional = true }
hyper = { version = "0.14", features = ["full"], optional = true }
hyper-tls = { version = "0.5", optional = true }
tokio = { version = "1", features = ["full"], optional = true }

[dev-dependencies]
tokio.workspace = true

[[bin]]
name = "evidence_getter"
required-features = ["bin"]

[features]
default = ["all-attesters"]
all-attesters = [
    "tdx-attester",
    "sgx-attester",
    "az-snp-vtpm-attester",
    "az-tdx-vtpm-attester",
    "snp-attester",
    "csv-attester",
    "cca-attester",
]

tdx-attester = ["tdx-attest-rs"]
sgx-attester = ["occlum_dcap"]
az-snp-vtpm-attester = ["az-snp-vtpm"]
az-tdx-vtpm-attester = ["az-tdx-vtpm"]
snp-attester = ["sev"]
csv-attester = ["csv-rs", "codicon", "hyper", "hyper-tls", "tokio"]
cca-attester = ["nix"]

bin = ["tokio/rt", "tokio/macros", "all-attesters"]
