[package]
name = "confidential-data-hub"
version = "0.1.0"
authors = ["The Confidential Container Authors"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "confidential-data-hub"
required-features = ["bin"]

[dependencies]
anyhow = { workspace = true, optional = true }
async-trait.workspace = true
attestation_agent = { path = "../../attestation-agent/lib", default-features = false, optional = true }
base64.workspace = true
clap = { workspace = true, features = [ "derive" ], optional = true }
env_logger = { workspace = true, optional = true }
image = { path = "../image", default-features = false }
kms = { path = "../kms", default-features = false }
lazy_static.workspace = true
log.workspace = true
protobuf = { workspace = true, optional = true }
secret.path = "../secret"
storage.path = "../storage"
serde = { workspace = true, optional = true }
serde_json.workspace = true
sev = { path = "../../attestation-agent/deps/sev", optional = true }
thiserror.workspace = true
tokio = { workspace = true, features = [ "rt-multi-thread", "macros" ] }
ttrpc = { workspace = true, features = ["async"], optional = true }

[build-dependencies]
ttrpc-codegen = { workspace = true, optional = true }

[features]
default = ["kbs"]

# support aliyun stacks (KMS, ..)
aliyun = ["image/aliyun", "secret/aliyun"]

# support coco-KBS in Background Check Mode to provide confidential resources
kbs = ["image/kbs", "kms/kbs", "secret/kbs"]

# support coco-KBS and coco-AS in Passport Mode to provide confidential resources
resource_kbs = ["image/resource_kbs", "kms/resource_kbs", "secret/resource_kbs"]

# support sev to provide confidential resources
sev = ["attestation_agent", "image/sev", "kms/sev", "dep:sev", "secret/sev"]

# support eHSM stacks (KMS, ...)
ehsm = ["image/ehsm", "secret/ehsm"]

bin = ["anyhow", "clap", "env_logger", "protobuf", "serde", "tokio/signal", "ttrpc", "ttrpc-codegen"]
