name: attestation-agent crypto tests

on:
  push:
    branches:
      - 'main'
    paths:
      - 'attestation-agent/deps/crypto/**'
      - '.github/workflows/aa_crypto.yml'
  pull_request:
    paths:
      - 'attestation-agent/deps/crypto/**'
      - '.github/workflows/aa_crypto.yml'
  create:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  crypto_ci:
    if: github.event_name != 'push'
    name: Check
    defaults:
      run:
        working-directory: ./attestation-agent
    strategy:
      fail-fast: false
      matrix:
        instance:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        suites:
          - rust-crypto
          - openssl
    runs-on: ${{ matrix.instance }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Code checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt, clippy

      - name: Run rust fmt check
        run: cargo fmt -p crypto -- --check

      - name: Run rust lint check (${{ matrix.suites }})
        run: cargo clippy -p crypto --no-default-features --features ${{ matrix.suites }} -- -D warnings

      - name: Run cargo test (${{ matrix.suites }})
        run: cargo test -p crypto --no-default-features --features ${{ matrix.suites }}
