name: attestation-agent occlum_sgx tests
on:
  push:
    branches:
      - 'main'
    paths:
      - 'attestation-agent/attester/src/sgx_dcap'
      - 'attestation-agent/ci/occlum**'
      - '.github/workflows/aa_occlum_sgx.yml'
  pull_request:
    paths:
      - 'attestation-agent/attester/src/sgx_dcap'
      - 'attestation-agent/ci/occlum**'
      - '.github/workflows/aa_occlum_sgx.yml'
  create:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  occlum_sgx_ci:
    runs-on: sgx
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Compile Occlum Example
        run: cd attestation-agent && /home/xynnn/.cargo/bin/cargo build -p attester --bin evidence_getter --no-default-features --features bin,sgx-attester

      - name: Run Occlum instance
        run: |
          docker run --rm -i --device /dev/sgx_enclave --device /dev/sgx_provision -v /etc/sgx_default_qcnl.conf:/etc/sgx_default_qcnl.conf -v $(pwd):/home occlum/occlum:latest-ubuntu20.04 bash -c "cd /home/attestation-agent/ci && ./occlum.sh"

      - name: Take a post-action for self-hosted runner
        if: always()
        run: |
          if [ -f ${HOME}/script/post_action.sh ]; then
            ${HOME}/script/post_action.sh guest-components
          fi
