name: attestation-agent occlum_sgx tests
on:
  push:
    branches:
      - 'main'
    paths:
      - 'attestation-agent/attester/src/sgx_dcap'
      - 'attestation-agent/ci/occlum**'
      - '.github/workflows/aa_occlum_sgx.yml'
  pull_request:
    paths:
      - 'attestation-agent/attester/src/sgx_dcap'
      - 'attestation-agent/ci/occlum**'
      - '.github/workflows/aa_occlum_sgx.yml'
  create:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  occlum_sgx_ci:
    if: github.event_name != 'push'
    runs-on: sgx
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true

      - name: Compile Occlum Example
        run: cd attestation-agent && /home/xynnn/.cargo/bin/cargo build -p attester --bin evidence_getter --no-default-features --features bin,sgx-attester

      - name: Run Occlum instance
        run: |
          docker run --rm -i --device /dev/sgx_enclave --device /dev/sgx_provision -v /etc/sgx_default_qcnl.conf:/etc/sgx_default_qcnl.conf -v $(pwd):/home occlum/occlum:latest-ubuntu20.04 bash -c "cd /home/attestation-agent/ci && ./occlum.sh"
