name: attestation-agent coco_keyprovider tests
on:
  push:
    branches:
      - 'main'
    paths:
      - 'coco_keyprovider/**'
      - '.github/workflows/aa_sample_keyprovider.yml'
  pull_request:
    paths:
      - 'coco_keyprovider/**'
      - '.github/workflows/aa_sample_keyprovider.yml'
  create:
  workflow_dispatch:

jobs:
  coco_keyprovider_ci:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - stable
          - nightly

    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install Rust toolchain (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - name: Install protoc
        run: |
          sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Rust fmt check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check --manifest-path coco_keyprovider/Cargo.toml

      - name: Rust clippy check
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path coco_keyprovider/Cargo.toml -- -D warnings

      - name: Build and install
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path coco_keyprovider/Cargo.toml

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path coco_keyprovider/Cargo.toml
