name: attestation-agent offline_sev_kbc tests
on:
  push:
    branches:
      - 'main'
    paths:
      - 'attestation-agent/kbc/offline_sev_kbc/**'
      - 'attestation-agent/kbc/online_sev_kbc/**'
  pull_request:
    paths:
      - 'attestation-agent/kbc/offline_sev_kbc/**'
      - 'attestation-agent/kbc/online_sev_kbc/**'
  create:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  offline_sev_kbc_ci:
    if: github.event_name != 'push'
    name: Check
    defaults:
      run:
        working-directory: ./attestation-agent
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - stable
        kbc:
          - offline_sev_kbc
          - online_sev_kbc
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install Rust toolchain (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt

      - name: Build and install with ${{ matrix.kbc }} feature
        run: |
          make KBC=${{ matrix.kbc }} && make install

      - name: Musl build with ${{ matrix.kbc }} feature
        run: |
          make LIBC=musl KBC=${{ matrix.kbc }}

      - name: Run cargo test with ${{ matrix.kbc }} feature
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p kbc --no-default-features --features ${{ matrix.kbc }},rust-crypto
