name: api-server-rest basic build and unit tests

on:
  push:
    branches:
      - "main"
    paths:
      - 'api-server-rest/**'
      - '.github/workflows/api-server-rest-basic.yml'
      - 'Cargo.toml'
      - 'Cargo.lock'
  pull_request:
    paths:
      - 'api-server-rest/**'
      - '.github/workflows/api-server-rest-basic.yml'
      - 'Cargo.toml'
      - 'Cargo.lock'
  create:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  basic_ci:
    if: github.event_name != 'push'
    name: Check
    defaults:
      run:
        working-directory: ./api-server-rest
    strategy:
      fail-fast: false
      matrix:
        instance:
          - ubuntu-24.04
          - s390x
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.instance }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Code checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt, clippy

      - name: Build and install with default features
        run: |
          mkdir -p ${HOME}/.local/bin
          make && make install PREFIX=${HOME}/.local

      - name: Musl build with default features
        run: |
          make LIBC=musl
        if: ${{ startsWith(matrix.instance, 'ubuntu-24.04') }}

      - name: Run cargo test
        run: cargo test -p api-server-rest
