name: confidential-data-hub basic build and unit tests

on:
  push:
    branches:
      - "main"
    paths:
      - 'image-rs/**'
      - 'confidential-data-hub/**'
      - '.github/workflows/cdh_basic.yml'
      - 'Cargo.toml'
      - 'Cargo.lock'
  pull_request:
    paths:
      - 'image-rs/**'
      - 'confidential-data-hub/**'
      - '.github/workflows/cdh_basic.yml'
      - 'Cargo.toml'
      - 'Cargo.lock'
  create:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  basic_ci:
    if: github.event_name != 'push'
    name: Check
    defaults:
      run:
        working-directory: ./confidential-data-hub
    strategy:
      fail-fast: false
      matrix:
        instance:
          - ubuntu-24.04
          - s390x
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.instance }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Code checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt, clippy

      - name: Build and install
        run: |
          mkdir -p ${HOME}/.local/bin
          make RESOURCE_PROVIDER=kbs,sev && make install PREFIX=${HOME}/.local

      - name: Run cargo fmt check
        run: cargo fmt -p kms -p confidential-data-hub -- --check

      - name: Run rust lint check
        run: cargo clippy -p kms -p confidential-data-hub -- -D warnings

      - name: Run cargo test
        run: |
          sudo -E PATH=$PATH -s cargo test --features kbs,aliyun,sev,bin -p kms -p confidential-data-hub
