name: ocicrypt-rs build
on:
  push:
    branches:
      - 'main'
    paths:
      - 'ocicrypt-rs/**'
      - '.github/workflows/ocicrypt_rs_build.yml'
      - 'Cargo.toml'
      - 'Cargo.lock'
  pull_request:
    paths:
      - 'ocicrypt-rs/**'
      - '.github/workflows/ocicrypt_rs_build.yml'
      - 'Cargo.toml'
      - 'Cargo.lock'
  create:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    if: github.event_name != 'push'
    name: Check
    strategy:
      fail-fast: false
      matrix:
        instance:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.instance }}

    steps:
      - name: Code checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Run cargo build
        run: cargo build -p ocicrypt-rs --all-features

      - name: Run cargo build - keywrap-none
        run: cargo build -p ocicrypt-rs --no-default-features

      - name: Run cargo build - block cipher openssl
        run: cargo build -p ocicrypt-rs --no-default-features --features=block-cipher-openssl

      - name: Run cargo build - block cipher ring
        run: cargo build -p ocicrypt-rs --no-default-features --features=block-cipher-ring

      - name: Run cargo build - keywrap-jwe
        run: cargo build -p ocicrypt-rs --no-default-features --features=keywrap-jwe

      - name: Run cargo build - keywrap-keyprovider
        run: cargo build -p ocicrypt-rs --no-default-features --features=keywrap-keyprovider

      - name: Run cargo test
        run: cargo test -p ocicrypt-rs --all-features

      - name: Run cargo test - keywrap-none
        run: cargo test -p ocicrypt-rs --no-default-features

      - name: Run cargo test - keywrap-jwe
        run: cargo test -p ocicrypt-rs --no-default-features --features=keywrap-jwe

      - name: Run cargo test - keywrap-keyprovider-cmd
        run: cargo test -p ocicrypt-rs --no-default-features --features=keywrap-keyprovider-cmd

      - name: Run cargo test - keywrap-keyprovider-grpc
        run: cargo test -p ocicrypt-rs --no-default-features --features=keywrap-keyprovider-grpc

      - name: Run cargo test - keywrap-keyprovider-ttrpc
        run: cargo test -p ocicrypt-rs --no-default-features --features=keywrap-keyprovider-ttrpc

      - name: Run cargo test - keywrap-keyprovider-native
        run: cargo test -p ocicrypt-rs --no-default-features --features=keywrap-keyprovider-native

      - name: Run cargo fmt check
        run: cargo fmt -p ocicrypt-rs -- --check

      - name: Run rust lint check
        run: cargo clippy -p ocicrypt-rs --all-targets --all-features -- -D warnings
