name: Publish artifacts with ORAS

on:
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  publish-aa:
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    strategy:
      matrix:
        platform: [
          { tee: none,        arch: x86_64,  libc: musl },
          { tee: none,        arch: s390x,   libc: gnu  },
          { tee: none,        arch: aarch64, libc: gnu  },
          { tee: amd,         arch: x86_64,  libc: musl },
          { tee: az-cvm-vtpm, arch: x86_64,  libc: gnu  },
          { tee: tdx,         arch: x86_64,  libc: gnu  },
          { tee: cca,         arch: x86_64,  libc: musl },
          { tee: cca,         arch: aarch64, libc: gnu  },
          { tee: se,          arch: s390x,   libc: gnu  },
          { tee: none,        arch: powerpc64le,  libc: gnu },
        ]
    runs-on: ${{ matrix.platform.arch == 's390x' && 's390x' || matrix.platform.arch == 'powerpc64le' && 'ubuntu-24.04-ppc64le' || 'ubuntu-24.04' }}
    env:
      TEE_PLATFORM: ${{ matrix.platform.tee }}
      LIBC: ${{ matrix.platform.libc }}
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      RUST_TARGET: ${{ matrix.platform.arch }}-unknown-linux-${{ matrix.platform.libc }}
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4
      with:
        version: 1.2.0
      if: matrix.platform.arch != 's390x'

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        target: ${{ env.RUST_TARGET }}

    - name: Update apt source list
      run: |
        sudo apt-get update

    - name: Install tpm dependencies
      if: matrix.platform.tee == 'az-cvm-vtpm'
      run: |
        sudo apt-get install -y --no-install-recommends libtss2-dev

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Build
      env:
        ARCH: ${{ matrix.platform.arch }}
      run: |
        make ./target/${{ env.RUST_TARGET }}/release/attestation-agent

    - name: Publish with ORAS
      id: publish
      env:
        OCI_ARCH: ${{ matrix.platform.arch == 'x86_64' && 'amd64' || matrix.platform.arch == 'aarch64' && 'arm64' || matrix.platform.arch == 'powerpc64le' && 'ppc64le' || matrix.platform.arch }}
      run: |
        mkdir oras
        cd oras
        cp ../target/${{ env.RUST_TARGET }}/release/attestation-agent .
        tar cJf attestation-agent.tar.xz attestation-agent
        arch="${{ matrix.platform.arch }}"
        # After building for target powerpc64le, tag and push the image as ppc64le to match standard arch naming.
        [ "$arch" = "powerpc64le" ] && arch="ppc64le"
        arch_tag="${{ github.sha }}-${{ matrix.platform.tee }}_${arch}"
        image="${REGISTRY}/${IMAGE_NAME}/attestation-agent"
        tag="${{ github.sha }}-${{ matrix.platform.tee }}"
        oras push "${image}:${arch_tag}" attestation-agent.tar.xz
        # We need to create the platform annotations with docker, since oras 1.2 doesn't support
        # pushing with platform yet.
        docker manifest create "${image}:${tag}" --amend "${image}:${arch_tag}"
        docker manifest annotate --arch "$OCI_ARCH" --os linux "${image}:${tag}" "${image}:${arch_tag}"
        docker manifest push "${image}:${tag}"
        # add image and digest to output for attestation
        echo "image=${image}" >> "$GITHUB_OUTPUT"
        digest="$(oras manifest fetch "${image}:${arch_tag}" --descriptor | jq -r .digest)"
        echo "digest=${digest}" >> "$GITHUB_OUTPUT"

    - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
      with:
        subject-name: ${{ steps.publish.outputs.image }}
        subject-digest: ${{ steps.publish.outputs.digest }}
        push-to-registry: true

  publish-cdh-and-asr:
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    strategy:
      matrix:
        arch:
        - x86_64
        - s390x
        - aarch64
        - ppc64le
        include:
        - arch: x86_64
          libc: musl
        - arch: s390x
          libc: gnu
        - arch: aarch64
          libc: gnu
        - arch: powerpc64le
          libc: gnu
    runs-on: ${{ matrix.arch == 's390x' && 's390x' || matrix.arch == 'ppc64le' && 'ubuntu-24.04-ppc64le' || 'ubuntu-24.04' }}
    env:
      LIBC: ${{ matrix.libc }}
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      RUST_TARGET: ${{ matrix.arch }}-unknown-linux-${{ matrix.libc }}
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4
      with:
        version: 1.2.0
      if: matrix.arch != 's390x'

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        target: ${{ env.RUST_TARGET }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          libdevmapper-dev

    - name: Build CDH
      env:
        ARCH: ${{ matrix.arch }}
      run: make ./target/${{ env.RUST_TARGET }}/release/confidential-data-hub

    - name: Build ASR
      env:
        ARCH: ${{ matrix.arch }}
      run: make ./target/${{ env.RUST_TARGET }}/release/api-server-rest

    - name: Publish CDH + ASR with ORAS
      id: publish
      run: |
        arch="${{ matrix.arch }}"
        # After building for target powerpc64le, tag and push the image as ppc64le to match standard arch naming.
        [ "$arch" = "powerpc64le" ] && arch="ppc64le"
        tag="${{ github.sha }}-${arch}"
        mkdir oras
        cd oras
        cp ../target/${{ env.RUST_TARGET }}/release/{confidential-data-hub,api-server-rest} .

        tar cJf confidential-data-hub.tar.xz confidential-data-hub
        image="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/confidential-data-hub"
        oras push "${image}:${tag}" confidential-data-hub.tar.xz
        echo "cdh-image=${image}" >> "$GITHUB_OUTPUT"
        digest="$(oras manifest fetch "${image}:${tag}" --descriptor | jq -r .digest)"
        echo "cdh-digest=${digest}" >> "$GITHUB_OUTPUT"

        tar cJf api-server-rest.tar.xz api-server-rest
        image="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/api-server-rest"
        oras push "${image}:${tag}" api-server-rest.tar.xz
        echo "asr-image=${image}" >> "$GITHUB_OUTPUT"
        digest="$(oras manifest fetch "${image}:${tag}" --descriptor | jq -r .digest)"
        echo "asr-digest=${digest}" >> "$GITHUB_OUTPUT"

    - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
      with:
        subject-name: ${{ steps.publish.outputs.cdh-image }}
        subject-digest: ${{ steps.publish.outputs.cdh-digest }}
        push-to-registry: true

    - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
      with:
        subject-name: ${{ steps.publish.outputs.asr-image }}
        subject-digest: ${{ steps.publish.outputs.asr-digest }}
        push-to-registry: true
