name: Run clippy checks for Rust stable

on:
  # run every Sunday
  schedule:
    - cron: '0 3 * * 6'

permissions:
  contents: read

jobs:
  clippy:
    strategy:
      fail-fast: false
      matrix:
        package:
          - api-server-rest
          - coco_keyprovider
          - crypto
          - resource_uri
          - kbs_protocol
          - confidential-data-hub
          - kms
          - image-rs
          - ocicrypt-rs
        include:
          - package: attestation-agent
            feature-parameters: "--no-default-features --features rust-crypto,kbs,all-attesters,bin,ttrpc"
          - package: kbc
            feature-parameters: "--no-default-features --features openssl,cc_kbc,all-attesters"
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Code checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Update apt repositories
        run: sudo apt update

      - name: Install TPM dependencies
        run: sudo apt install -y libtss2-dev

      - name: Install dm-verity dependencies
        run: sudo apt install -y libdevmapper-dev

      - name: Run rust lint checks (${{matrix.package}})
        run: cargo clippy -p ${{matrix.package}} ${{matrix.feature-parameters}} -- -D warnings
